.card-design {
    border: 1px solid gray;
    border-radius: 12px;

    .meme-image {
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    img {
        border-radius: 12px;
    }
}